/*main screen*/

html, #root, .LY5Jf, ._2jbOb ._2seHl {
    background: black;
    color: white;
}

._2ykLp:hover, ._1c1F4, .oNqWF:after, ._1YtRP, ._2kA5V, ._26YU4:hover {
    background: #312e2e;
}

.oNqWF, input, textarea, label:after, .course {
    background: #312e2e !important;
}

.container {
    background: black !important;
}

._2jbOb .U_ned:hover {
    background: #5a5757;
}

.LB1Lx {
    background: #312e2e;
    color: white;
}

h1, h2, h3, h4, span.pAHKo, .ynL4Q {
    color: #c5bdbd;
}

a._3-KNY, ._3aWgW, ._3Fb9m {
    color: #c5c5c5 !important;
}

._1E3L7, ._2ANgP.a5SW0, .a5SW0, .zAm0Z, ._3MATO {
    background: unset;
}

._1gmtl, ._7SUuD, .body {
    color: unset !important;
}

._378Tf, ._2jbOb .U_ned, ._1Vhap, label, td, input, textarea, ._29BVB, .title, ._2d3we, .U_ned, ._1gmtl, .yXIVb {
    color: white !important;
}

._1HyDi, .vv6ti, ._2ksB1 {
    background-color: unset;
}

._jPjo, .Eb4Aa {
    color: white;
}

.EQhdd ._3bFAF, ._3F_8q ._3bFAF {
    background: #312e2e;
    color: white;
}

@media only screen and (orientation: portrait) {
    @media (min-width: 700px) {
        .EQhdd ._3bFAF, ._3F_8q ._3bFAF {
            font-size: 2rem;
            line-height: 1;
        }

        .U_ned {
            height: 6rem;
        }

        ._2jbOb ._2-Lx6 {
            width: 20rem;
        }

        .LFfrA._3MLiB>div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        ._2_lzu {
            display: flex !important;
            flex-direction: row;
            flex-wrap: wrap;
            width: 90vw;
        }

        ._3MLiB, ._3MT-S {
            margin-right: 0px !important;
        }

        ._3MLiB {
            max-width: 90vw;    
        }

        ._2_lzu>div {
            flex-grow: 100;
            flex-basis: 10%;
            flex-wrap: wrap;
            margin: 0px;
            align-self: flex-start;        
        }

        ._3GXSM {
            transform: scale(1.5) translateY(17%);
        }

        ._3pcg6 {
            height: fit-content;
            width: fit-content;
            font-size: 2.5rem;
        }

        ._1iUq9 * {
            font-size: 2rem;
        }

        ._1Ugfr {
            position: absolute;
            right:0px;
            top:40px;
        }

        ._3Zaw- {
            position: absolute;
            top: 18px;
        }

        ._3MLiB {
            margin-left: 25px !important;
        }


        ._3Zaw- {
            width: 100vw;
        }

        div._2w0BN._1tAJo._12RuG, ._3hAy2 {
            width: 100%;
        }

        div._2w0BN._1tAJo._12RuG {
            margin-left: 0px;
            margin-right: 0px;
        }

        div.LFfrA._3MLiB, ._3MT-S {
            width: 90vw;
        }

        ._1-8ju {
            background: black;
        }

        ._14HAm {
            border: unset;
        }

        ._2LApJ {
            bottom: 0%;
            position: absolute;
            transform: rotate(90deg);
            right: -120px;
        }
        
        ._1N671 {
            color: unset;
        }
        
        ._2LApJ * {
            font-size: 2.5rem;
        }
        
        ._3Fb9m * {
            font-size: 2.5rem !important;
            line-height: 1;
        }
    }

}

a[data-test="global-practice"], a[data-test="global-practice"]:after {
    background: unset !important;
}



/*end of main screen*/

/*testing*/
._3giip * {
    line-height: 1.1;
}

div.XUDC1._3B1cY._1ZY-H {
    background: black;
}

._3giip, ._34sNg {
    background: unset;
}

._3foPi._1rpnX svg {
    height: 300% !important;
    width: 120% !important;
    transform: translate3d(0px, -10px, 0px) !important;
}

.iNLw3:after, .iNLw3, button.iNLw3, ._1mrf_ {
    background-color: #312e2e;
    color: white !important;
}

button.iNLw3._2KUSO._2sM1A._1gz3r,
button.iNLw3._1wSvB._2sM1A._1gz3r {
    color: #5a5757 !important;
}

.iNLw3 ._3OV_b ._2sM1A ._1gz3r, .multiple-choice-challenge .challenge-answers li button, ._2gnHr:disabled:after {
    background: black !important;
}

._2sM1A:after {
    background: black !important;
    border-color: #5a5757 !important;
}

._3_NyK {
    color: white;
}

.XUDC1 {
    color: #9e9e9e;
}

._3H8zM:after {
    background: black !important;
}

._3DsW-:after {
    background: #312e2e;
}

[role="dialog"] {
    background: black;
    color: white;
}

._3ZTEO ._3bFAF._1cfou {
    background: #312e2e;
}

._3ZTEO ._3bFAF._1cfou * {
    color: white;
}

@media only screen and (orientation: portrait) {
    @media (min-width: 700px) {
        ._3giip {
            max-height: 95vh;
        }

        ._75iiA {
            width: 80%;
        }


        ._2colQ {
            width: unset;
        }

        ._3OzDB {
            margin-top: 20px;
        }

        ._3giip [data-test="hint-sentence"] {
            line-height: 1.3 !important;
        }

        ._1l6NK, ._3rReK, .KekRP._3Txod._2KlCX, ._1cw2r {
            top: unset;
            transform: unset;
            display: flex;
        }    

        ._3rReK {
            left: unset;
        }

        ._1_XY0 {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        ._1tSEs {
            height: 3rem;
            width: 3rem;
        }

        ._3giip ._3bFAF._1ottH {
            background: #312e2e;
            color: white;
        }

        ._1ttrU {
            max-width: unset;
            width: 80vw;
            margin: 10vw;
        }

        ::-webkit-scrollbar  {
            width: 0px !important;
        }

        ._1Y5M_._2szQy {
            overflow-y: scroll;
        }

        ._3giip * {
            font-size: 2.5rem !important;
        }

        ._2dSPZ._1w38l>li {
            width: fit-content !important;
        }
        ._1xgIc {
            padding-right: 15px;
        }
        
        [role="dialog"] * {
            line-height: 1;
            font-size: 2.5rem;
        }
        
        .EQhdd>div {
            width: 45%;
            height: unset;
        }
        
        .erlyr, ._3bFAF._1cfou * {
            color: white;
        }

        span.uu8iJ._1m_Ir {
            font-size: 20px !important;
        }

	._1_XY0 button {
            font-size: 3vmin !important;
        }
    }
}

/* end of testing*/

/*stories*/
.home-page, .challenge .selectable-token, .challenge .selectable-token.grade-neutral, .challenge-active.tap-challenge .tappable-phrase {
    background: #312e2e;
}

.story-grid, .stories-header, .set, .story-page, .hint, .story-header {
    background-color: black !important;
}

.challenge.match-challenge .tokens .selectable-token.match-grade-correct {
    background: #064e06;
}

.challenge.match-challenge .tokens .selectable-token.match-grade-incorrect {
    background: #bb0606;
    color: white;
}

.set-header, p, .challenge .challenge-question, .multiple-choice-challenge .challenge-answers, .point-to-phrase-prompt {
    color: #c9c9c9 !important;
}

.challenge .selectable-token {
    color: white;
}

.synced-text.highlighted, .hint, .tap-challenge .tappable-phrase .point-to-phrase-synced-text {
    color: white !important;
}

.courses-mobile td, .LY5Jf {
    background: unset !important;
}
/*end of stories*/

/*discussion*/
._2VdVL, ._2EZRi {
    background: black !important;
}

/*tinycards*/
._8SfjL, ._3Kfqq, ._1bfyi, ._1ztQi {
    background: unset;
}

._1-IZO, ._2QLEC>.ALWo1 {
    background-color: #312e2e;
}

._36bTw .bQ9pw, ._3UTun a {
    color: #c9c9c9;
}