/*main screen*/

html, #root, .LY5Jf, ._2jbOb ._2seHl {
    background: black;
    color: white;
}

._2ykLp:hover, ._1c1F4, .oNqWF:after, ._1YtRP, ._2kA5V, ._26YU4:hover {
    background: #312e2e;
}

.oNqWF, input, textarea, label:after, .course {
    background: #312e2e !important;
}

.container {
    background: black !important;
}

._2jbOb .U_ned:hover {
    background: #5a5757;
}

._3bFAF, .LB1Lx {
    background: #312e2e;
    color: white;
}

h1, h2, h3, h4, span.pAHKo, .ynL4Q {
    color: #c5bdbd;
}

a._3-KNY, ._3aWgW {
    color: #c5c5c5;
}

._1E3L7, ._2ANgP.a5SW0, .a5SW0, ._2EZRi, .zAm0Z, ._3MATO {
    background: unset;
}

._1gmtl, ._7SUuD, .body {
    color: unset !important;
}

._378Tf, ._2jbOb .U_ned, ._1Vhap, label, td, input, textarea, ._29BVB, .title, ._2d3we, .U_ned, ._1gmtl, .yXIVb {
    color: white !important;
}

._1HyDi, .vv6ti, ._2ksB1 {
    background-color: unset;
}

@media (min-width: 700px) {
    .LFfrA._3MLiB>div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    ._2_lzu {
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90vw;
    }
    
    ._3MLiB, ._3MT-S {
        margin-right: 0px !important;
    }

    ._3MLiB {
        max-width: 90vw;    
    }
        
    ._2_lzu>div {
        flex-grow: 100;
        flex-basis: 10%;
        flex-wrap: wrap;
        margin: 0px;
        align-self: flex-start;        
    }
    
    ._3GXSM {
        transform: scale(1.5) translateY(17%);
    }
    
    ._3pcg6 {
        height: unset;
        width: unset;
        font-size: 2.5rem;
    }
    
    ._1iUq9 * {
        font-size: 2rem;
    }
    
    ._1Ugfr {
        position: absolute;
        right:0px;
        top:40px;
    }
    
    ._3Zaw- {
        position: absolute;
        top: 18px;
    }
    
    ._3MLiB {
        margin-left: 25px !important;
    }
    
    
    ._3Zaw- {
        width: 100vw;
    }
    
    div._2w0BN._1tAJo._12RuG, ._3hAy2 {
        width: 100%;
    }
    
    div._2w0BN._1tAJo._12RuG {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    div.LFfrA._3MLiB, ._3MT-S {
        width: 90vw;
    }
    
    ._1-8ju {
        background: black;
    }
    
    ._14HAm {
        border: unset;
    }
    
    ._2LApJ {
        position: absolute;
        bottom: 10px;
    }

}

a[data-test="global-practice"], a[data-test="global-practice"]:after {
    background: unset !important;
}



/*end of main screen*/

/*testing*/
div.XUDC1._3B1cY._1ZY-H {
    background: black;
}

._3giip, ._34sNg {
    background: unset;
}

._3giip svg {
    height: 300% !important;
    width: 120% !important;
    transform: translate3d(0px, -10px, 0px) !important;
}

.iNLw3:after, .iNLw3, button.iNLw3, ._1mrf_ {
    background-color: #312e2e;
    color: white !important;
}

button.iNLw3._2KUSO._2sM1A._1gz3r,
button.iNLw3._1wSvB._2sM1A._1gz3r {
    color: #5a5757 !important;
}

.iNLw3 ._3OV_b ._2sM1A ._1gz3r, .multiple-choice-challenge .challenge-answers li button, ._2gnHr:disabled:after {
    background: black !important;
}

._2sM1A:after {
    background: black !important;
    border-color: #5a5757 !important;
}

._3_NyK {
    color: white;
}

.XUDC1 {
    color: #9e9e9e;
}

._3H8zM:after {
    background: black !important;
}

._3DsW-:after {
    background: #312e2e;
}

@media (min-height: 1200px) {
    ._3giip {
        max-height: 95vh;
    }
}

@media (min-width: 700px) {
    ._3giip [data-test], ._75iiA, ._3giip button, .MXDj9 * {
        font-size: 2.5rem;
        line-height: 1;
    }
    
    .uu8iJ._1m_Ir, ._1mrf_, .Xfhea {
        font-size: 2rem !important;
    }
    
    ._1mrf_ {
        line-height: 1;
    }
    
    .uu8iJ._1m_Ir {
        left: 8px;
        top: 8px;
    }
    
    ._3giip [data-test="hint-sentence"] {
        line-height: 1.3;
    }
    
    ._1l6NK, ._3rReK, .KekRP._3Txod._2KlCX, ._1cw2r {
        top: unset;
        transform: unset;
        display: flex;
    }
    
    ._1_XY0 * {
        font-size: 3.5vmin;
    }
    
    
    ._3rReK {
        left: unset;
    }

    ._1_XY0 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    ._1tSEs {
        height: 3rem;
        width: 3rem;
    }
    [role="dialog"] {
        background: unset;
    }
    ._3ZTEO * {
        color: white !important;
    }
    
    ._1ttrU {
        max-width: unset;
        width: 80vw;
        margin: 10vw;
    }
    
    ::-webkit-scrollbar  {
        width: 0px !important;
    }
    
    ._1Y5M_._2szQy {
        overflow-y: scroll;
    }
    
    ._3giip span {
        font-size: 2.5rem !important;
    }
    
    ._2dSPZ._1w38l>li {
        width: fit-content !important;
    }
    ._1xgIc {
        padding-right: 15px;
    }
}

/* end of testing*/

/*stories*/
.home-page, .challenge .selectable-token, .challenge .selectable-token.grade-neutral, .challenge-active.tap-challenge .tappable-phrase {
    background: #312e2e;
}

.story-grid, .stories-header, .set, .story-page, .hint, .story-header {
    background-color: black !important;
}

.challenge.match-challenge .tokens .selectable-token.match-grade-correct {
    background: #064e06;
}

.challenge.match-challenge .tokens .selectable-token.match-grade-incorrect {
    background: #bb0606;
    color: white;
}

.set-header, p, .challenge .challenge-question, .multiple-choice-challenge .challenge-answers, .point-to-phrase-prompt {
    color: #c9c9c9 !important;
}

.challenge .selectable-token {
    color: white;
}

.synced-text.highlighted, .hint, .tap-challenge .tappable-phrase .point-to-phrase-synced-text {
    color: white !important;
}
/*end of stories*/

/*discussion*/
._2VdVL {
    background: unset;
}

/*tinycards*/
._8SfjL, ._3Kfqq, ._1bfyi, ._1ztQi {
    background: unset;
}

._1-IZO, ._2QLEC>.ALWo1 {
    background-color: #312e2e;
}

._36bTw .bQ9pw, ._3UTun a {
    color: #c9c9c9;
}